@import 'variables';
@import "bootstrap";

@font-face {
	font-family: 'Elusive-Icons';
	src:url('#{$elusiveWebfontPath}Elusive-Icons.eot?v=#{$Elusive-iconfontVersion}');
	src:url('#{$elusiveWebfontPath}Elusive-Icons.eot?#iefix&v=#{$Elusive-iconfontVersion}') format('embedded-opentype'),
		url('#{$elusiveWebfontPath}Elusive-Icons.svg#Elusive-Icons?v=#{$Elusive-iconfontVersion}') format('svg'),
		url('#{$elusiveWebfontPath}Elusive-Icons.woff?v=#{$Elusive-iconfontVersion}') format('woff'),
		url('#{$elusiveWebfontPath}Elusive-Icons.ttf?v=#{$Elusive-iconfontVersion}') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class*="el-icon-"] {
	font-family: 'Elusive-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.el-icon-zoom-out:before {
	content: $el-var-zoom-out;
}
.el-icon-zoom-in:before {
	content: $el-var-zoom-in;
}
.el-icon-youtube:before {
	content: $el-var-youtube;
}
.el-icon-wrench-alt:before {
	content: $el-var-wrench-alt;
}
.el-icon-wrench:before {
	content: $el-var-wrench;
}
.el-icon-wordpress:before {
	content: $el-var-wordpress;
}
.el-icon-wheelchair:before {
	content: $el-var-wheelchair;
}
.el-icon-website-alt:before {
	content: $el-var-website-alt;
}
.el-icon-website:before {
	content: $el-var-website;
}
.el-icon-warning-sign:before {
	content: $el-var-warning-sign;
}
.el-icon-w3c:before {
	content: $el-var-w3c;
}
.el-icon-volume-up:before {
	content: $el-var-volume-up;
}
.el-icon-volume-off:before {
	content: $el-var-volume-off;
}
.el-icon-volume-down:before {
	content: $el-var-volume-down;
}
.el-icon-vkontakte:before {
	content: $el-var-vkontakte;
}
.el-icon-vimeo:before {
	content: $el-var-vimeo;
}
.el-icon-view-mode:before {
	content: $el-var-view-mode;
}
.el-icon-video-chat:before {
	content: $el-var-video-chat;
}
.el-icon-video-alt:before {
	content: $el-var-video-alt;
}
.el-icon-video:before {
	content: $el-var-video;
}
.el-icon-viadeo:before {
	content: $el-var-viadeo;
}
.el-icon-user:before {
	content: $el-var-user;
}
.el-icon-usd:before {
	content: $el-var-usd;
}
.el-icon-upload:before {
	content: $el-var-upload;
}
.el-icon-unlock-alt:before {
	content: $el-var-unlock-alt;
}
.el-icon-unlock:before {
	content: $el-var-unlock;
}
.el-icon-universal-access:before {
	content: $el-var-universal-access;
}
.el-icon-twitter:before {
	content: $el-var-twitter;
}
.el-icon-tumblr:before {
	content: $el-var-tumblr;
}
.el-icon-trash-alt:before {
	content: $el-var-trash-alt;
}
.el-icon-trash:before {
	content: $el-var-trash;
}
.el-icon-torso:before {
	content: $el-var-torso;
}
.el-icon-tint:before {
	content: $el-var-tint;
}
.el-icon-time-alt:before {
	content: $el-var-time-alt;
}
.el-icon-time:before {
	content: $el-var-time;
}
.el-icon-thumbs-up:before {
	content: $el-var-thumbs-up;
}
.el-icon-thumbs-down:before {
	content: $el-var-thumbs-down;
}
.el-icon-th-list:before {
	content: $el-var-th-list;
}
.el-icon-th-large:before {
	content: $el-var-th-large;
}
.el-icon-th:before {
	content: $el-var-th;
}
.el-icon-text-width:before {
	content: $el-var-text-width;
}
.el-icon-text-height:before {
	content: $el-var-text-height;
}
.el-icon-tasks:before {
	content: $el-var-tasks;
}
.el-icon-tags:before {
	content: $el-var-tags;
}
.el-icon-tag:before {
	content: $el-var-tag;
}
.el-icon-stumbleupon:before {
	content: $el-var-stumbleupon;
}
.el-icon-stop-alt:before {
	content: $el-var-stop-alt;
}
.el-icon-stop:before {
	content: $el-var-stop;
}
.el-icon-step-forward:before {
	content: $el-var-step-forward;
}
.el-icon-step-backward:before {
	content: $el-var-step-backward;
}
.el-icon-star-empty:before {
	content: $el-var-star-empty;
}
.el-icon-star-alt:before {
	content: $el-var-star-alt;
}
.el-icon-star:before {
	content: $el-var-star;
}
.el-icon-stackoverflow:before {
	content: $el-var-stackoverflow;
}
.el-icon-spotify:before {
	content: $el-var-spotify;
}
.el-icon-speaker:before {
	content: $el-var-speaker;
}
.el-icon-soundcloud:before {
	content: $el-var-soundcloud;
}
.el-icon-smiley-alt:before {
	content: $el-var-smiley-alt;
}
.el-icon-smiley:before {
	content: $el-var-smiley;
}
.el-icon-slideshare:before {
	content: $el-var-slideshare;
}
.el-icon-skype:before {
	content: $el-var-skype;
}
.el-icon-signal:before {
	content: $el-var-signal;
}
.el-icon-shopping-cart-sign:before {
	content: $el-var-shopping-cart-sign;
}
.el-icon-shopping-cart:before {
	content: $el-var-shopping-cart;
}
.el-icon-share-alt:before {
	content: $el-var-share-alt;
}
.el-icon-share:before {
	content: $el-var-share;
}
.el-icon-search-alt:before {
	content: $el-var-search-alt;
}
.el-icon-search:before {
	content: $el-var-search;
}
.el-icon-screenshot:before {
	content: $el-var-screenshot;
}
.el-icon-screen-alt:before {
	content: $el-var-screen-alt;
}
.el-icon-screen:before {
	content: $el-var-screen;
}
.el-icon-scissors:before {
	content: $el-var-scissors;
}
.el-icon-rss:before {
	content: $el-var-rss;
}
.el-icon-road:before {
	content: $el-var-road;
}
.el-icon-reverse-alt:before {
	content: $el-var-reverse-alt;
}
.el-icon-retweet:before {
	content: $el-var-retweet;
}
.el-icon-return-key:before {
	content: $el-var-return-key;
}
.el-icon-resize-vertical:before {
	content: $el-var-resize-vertical;
}
.el-icon-resize-small:before {
	content: $el-var-resize-small;
}
.el-icon-resize-horizontal:before {
	content: $el-var-resize-horizontal;
}
.el-icon-resize-full:before {
	content: $el-var-resize-full;
}
.el-icon-repeat-alt:before {
	content: $el-var-repeat-alt;
}
.el-icon-repeat:before {
	content: $el-var-repeat;
}
.el-icon-remove-sign:before {
	content: $el-var-remove-sign;
}
.el-icon-remove-circle:before {
	content: $el-var-remove-circle;
}
.el-icon-remove:before {
	content: $el-var-remove;
}
.el-icon-refresh:before {
	content: $el-var-refresh;
}
.el-icon-reddit:before {
	content: $el-var-reddit;
}
.el-icon-record:before {
	content: $el-var-record;
}
.el-icon-random:before {
	content: $el-var-random;
}
.el-icon-quotes-alt:before {
	content: $el-var-quotes-alt;
}
.el-icon-quotes:before {
	content: $el-var-quotes;
}
.el-icon-question-sign:before {
	content: $el-var-question-sign;
}
.el-icon-question:before {
	content: $el-var-question;
}
.el-icon-qrcode:before {
	content: $el-var-qrcode;
}
.el-icon-puzzle:before {
	content: $el-var-puzzle;
}
.el-icon-print:before {
	content: $el-var-print;
}
.el-icon-podcast:before {
	content: $el-var-podcast;
}
.el-icon-plus-sign:before {
	content: $el-var-plus-sign;
}
.el-icon-plus:before {
	content: $el-var-plus;
}
.el-icon-play-circle:before {
	content: $el-var-play-circle;
}
.el-icon-play-alt:before {
	content: $el-var-play-alt;
}
.el-icon-play:before {
	content: $el-var-play;
}
.el-icon-plane:before {
	content: $el-var-plane;
}
.el-icon-pinterest:before {
	content: $el-var-pinterest;
}
.el-icon-picture:before {
	content: $el-var-picture;
}
.el-icon-picasa:before {
	content: $el-var-picasa;
}
.el-icon-photo-alt:before {
	content: $el-var-photo-alt;
}
.el-icon-photo:before {
	content: $el-var-photo;
}
.el-icon-phone-alt:before {
	content: $el-var-phone-alt;
}
.el-icon-phone:before,
.el-icon-earphone:before {
	content: $el-var-phone;
}
.el-icon-person:before {
	content: $el-var-person;
}
.el-icon-pencil-alt:before {
	content: $el-var-pencil-alt;
}
.el-icon-pencil:before {
	content: $el-var-pencil;
}
.el-icon-pause-alt:before {
	content: $el-var-pause-alt;
}
.el-icon-pause:before {
	content: $el-var-pause;
}
.el-icon-path:before {
	content: $el-var-path;
}
.el-icon-paper-clip-alt:before,
.el-icon-paperclip-alt:before {
	content: $el-var-paper-clip-alt;
}
.el-icon-paper-clip:before,
.el-icon-paperclip:before {
	content: $el-var-paper-clip;
}
.el-icon-opensource:before {
	content: $el-var-opensource;
}
.el-icon-ok-sign:before {
	content: $el-var-ok-sign;
}
.el-icon-ok-circle:before {
	content: $el-var-ok-circle;
}
.el-icon-ok:before {
	content: $el-var-ok;
}
.el-icon-off:before {
	content: $el-var-off;
}
.el-icon-network:before {
	content: $el-var-network;
}
.el-icon-myspace:before {
	content: $el-var-myspace;
}
.el-icon-music:before {
	content: $el-var-music;
}
.el-icon-move:before {
	content: $el-var-move;
}
.el-icon-minus-sign:before {
	content: $el-var-minus-sign;
}
.el-icon-minus:before {
	content: $el-var-minus;
}
.el-icon-mic-alt:before {
	content: $el-var-mic-alt;
}
.el-icon-mic:before {
	content: $el-var-mic;
}
.el-icon-map-marker-alt:before {
	content: $el-var-map-marker-alt;
}
.el-icon-map-marker:before {
	content: $el-var-map-marker;
}
.el-icon-male:before {
	content: $el-var-male;
}
.el-icon-magnet:before {
	content: $el-var-magnet;
}
.el-icon-magic:before {
	content: $el-var-magic;
}
.el-icon-lock-alt:before {
	content: $el-var-lock-alt;
}
.el-icon-lock:before {
	content: $el-var-lock;
}
.el-icon-livejournal:before {
	content: $el-var-livejournal;
}
.el-icon-list-alt:before {
	content: $el-var-list-alt;
}
.el-icon-list:before {
	content: $el-var-list;
}
.el-icon-linkedin:before {
	content: $el-var-linkedin;
}
.el-icon-link:before {
	content: $el-var-link;
}
.el-icon-lines:before {
	content: $el-var-lines;
}
.el-icon-leaf:before {
	content: $el-var-leaf;
}
.el-icon-lastfm:before {
	content: $el-var-lastfm;
}
.el-icon-laptop-alt:before {
	content: $el-var-laptop-alt;
}
.el-icon-laptop:before {
	content: $el-var-laptop;
}
.el-icon-key:before {
	content: $el-var-key;
}
.el-icon-italic:before {
	content: $el-var-italic;
}
.el-icon-iphone-home:before {
	content: $el-var-iphone-home;
}
.el-icon-instagram:before {
	content: $el-var-instagram;
}
.el-icon-info-sign:before {
	content: $el-var-info-sign;
}
.el-icon-indent-right:before {
	content: $el-var-indent-right;
}
.el-icon-indent-left:before {
	content: $el-var-indent-left;
}
.el-icon-inbox-box:before {
	content: $el-var-inbox-box;
}
.el-icon-inbox-alt:before {
	content: $el-var-inbox-alt;
}
.el-icon-inbox:before {
	content: $el-var-inbox;
}
.el-icon-idea-alt:before {
	content: $el-var-idea-alt;
}
.el-icon-idea:before {
	content: $el-var-idea;
}
.el-icon-hourglass:before {
	content: $el-var-hourglass;
}
.el-icon-home-alt:before {
	content: $el-var-home-alt;
}
.el-icon-home:before {
	content: $el-var-home;
}
.el-icon-heart-empty:before {
	content: $el-var-heart-empty;
}
.el-icon-heart-alt:before {
	content: $el-var-heart-alt;
}
.el-icon-heart:before {
	content: $el-var-heart;
}
.el-icon-hearing-impaired:before {
	content: $el-var-hearing-impaired;
}
.el-icon-headphones:before {
	content: $el-var-headphones;
}
.el-icon-hdd:before {
	content: $el-var-hdd;
}
.el-icon-hand-up:before {
	content: $el-var-hand-up;
}
.el-icon-hand-right:before {
	content: $el-var-hand-right;
}
.el-icon-hand-left:before {
	content: $el-var-hand-left;
}
.el-icon-hand-down:before {
	content: $el-var-hand-down;
}
.el-icon-guidedog:before {
	content: $el-var-guidedog;
}
.el-icon-group-alt:before {
	content: $el-var-group-alt;
}
.el-icon-group:before {
	content: $el-var-group;
}
.el-icon-graph-alt:before {
	content: $el-var-graph-alt;
}
.el-icon-graph:before {
	content: $el-var-graph;
}
.el-icon-googleplus:before {
	content: $el-var-googleplus;
}
.el-icon-globe-alt:before {
	content: $el-var-globe-alt;
}
.el-icon-globe:before {
	content: $el-var-globe;
}
.el-icon-glasses:before {
	content: $el-var-glasses;
}
.el-icon-glass:before {
	content: $el-var-glass;
}
.el-icon-github-text:before {
	content: $el-var-github-text;
}
.el-icon-github:before {
	content: $el-var-github;
}
.el-icon-gift:before {
	content: $el-var-gift;
}
.el-icon-gbp:before {
	content: $el-var-gbp;
}
.el-icon-fullscreen:before {
	content: $el-var-fullscreen;
}
.el-icon-friendfeed-rect:before {
	content: $el-var-friendfeed-rect;
}
.el-icon-friendfeed:before {
	content: $el-var-friendfeed;
}
.el-icon-foursquare:before {
	content: $el-var-foursquare;
}
.el-icon-forward-alt:before {
	content: $el-var-forward-alt;
}
.el-icon-forward:before {
	content: $el-var-forward;
}
.el-icon-fork:before {
	content: $el-var-fork;
}
.el-icon-fontsize:before {
	content: $el-var-fontsize;
}
.el-icon-font:before {
	content: $el-var-font;
}
.el-icon-folder-sign:before {
	content: $el-var-folder-sign;
}
.el-icon-folder-open:before {
	content: $el-var-folder-open;
}
.el-icon-folder-close:before {
	content: $el-var-folder-close;
}
.el-icon-folder:before {
	content: $el-var-folder;
}
.el-icon-flickr:before {
	content: $el-var-flickr;
}
.el-icon-flag-alt:before {
	content: $el-var-flag-alt;
}
.el-icon-flag:before {
	content: $el-var-flag;
}
.el-icon-fire:before {
	content: $el-var-fire;
}
.el-icon-filter:before {
	content: $el-var-filter;
}
.el-icon-film:before {
	content: $el-var-film;
}
.el-icon-file-new-alt:before {
	content: $el-var-file-new-alt;
}
.el-icon-file-new:before {
	content: $el-var-file-new;
}
.el-icon-file-edit-alt:before {
	content: $el-var-file-edit-alt;
}
.el-icon-file-edit:before {
	content: $el-var-file-edit;
}
.el-icon-file-alt:before {
	content: $el-var-file-alt;
}
.el-icon-file:before {
	content: $el-var-file;
}
.el-icon-female:before {
	content: $el-var-female;
}
.el-icon-fast-forward:before {
	content: $el-var-fast-forward;
}
.el-icon-fast-backward:before {
	content: $el-var-fast-backward;
}
.el-icon-facetime-video:before {
	content: $el-var-facetime-video;
}
.el-icon-facebook:before {
	content: $el-var-facebook;
}
.el-icon-eye-open:before {
	content: $el-var-eye-open;
}
.el-icon-eye-close:before {
	content: $el-var-eye-close;
}
.el-icon-exclamation-sign:before {
	content: $el-var-exclamation-sign;
}
.el-icon-eur:before {
	content: $el-var-eur;
}
.el-icon-error-alt:before {
	content: $el-var-error-alt;
}
.el-icon-error:before {
	content: $el-var-error;
}
.el-icon-envelope-alt:before {
	content: $el-var-envelope-alt;
}
.el-icon-envelope:before {
	content: $el-var-envelope;
}
.el-icon-eject:before {
	content: $el-var-eject;
}
.el-icon-edit:before {
	content: $el-var-edit;
}
.el-icon-dribbble:before {
	content: $el-var-dribbble;
}
.el-icon-download-alt:before {
	content: $el-var-download-alt;
}
.el-icon-download:before {
	content: $el-var-download;
}
.el-icon-digg:before {
	content: $el-var-digg;
}
.el-icon-deviantart:before {
	content: $el-var-deviantart;
}
.el-icon-delicious:before {
	content: $el-var-delicious;
}
.el-icon-dashboard:before {
	content: $el-var-dashboard;
}
.el-icon-css:before {
	content: $el-var-css;
}
.el-icon-credit-card:before {
	content: $el-var-credit-card;
}
.el-icon-compass-alt:before {
	content: $el-var-compass-alt;
}
.el-icon-compass:before {
	content: $el-var-compass;
}
.el-icon-comment-alt:before {
	content: $el-var-comment-alt;
}
.el-icon-comment:before {
	content: $el-var-comment;
}
.el-icon-cogs:before {
	content: $el-var-cogs;
}
.el-icon-cog-alt:before {
	content: $el-var-cog-alt;
}
.el-icon-cog:before {
	content: $el-var-cog;
}
.el-icon-cloud-alt:before {
	content: $el-var-cloud-alt;
}
.el-icon-cloud:before {
	content: $el-var-cloud;
}
.el-icon-circle-arrow-up:before {
	content: $el-var-circle-arrow-up;
}
.el-icon-circle-arrow-right:before {
	content: $el-var-circle-arrow-right;
}
.el-icon-circle-arrow-left:before {
	content: $el-var-circle-arrow-left;
}
.el-icon-circle-arrow-down:before {
	content: $el-var-circle-arrow-down;
}
.el-icon-child:before {
	content: $el-var-child;
}
.el-icon-chevron-up:before {
	content: $el-var-chevron-up;
}
.el-icon-chevron-right:before {
	content: $el-var-chevron-right;
}
.el-icon-chevron-left:before {
	content: $el-var-chevron-left;
}
.el-icon-chevron-down:before {
	content: $el-var-chevron-down;
}
.el-icon-check-empty:before,
.el-icon-unchecked:before {
	content: $el-var-check-empty;
}
.el-icon-check:before {
	content: $el-var-check;
}
.el-icon-certificate:before {
	content: $el-var-certificate;
}
.el-icon-cc:before {
	content: $el-var-cc;
}
.el-icon-caret-up:before {
	content: $el-var-caret-up;
}
.el-icon-caret-right:before {
	content: $el-var-caret-right;
}
.el-icon-caret-left:before {
	content: $el-var-caret-left;
}
.el-icon-caret-down:before {
	content: $el-var-caret-down;
}
.el-icon-car:before {
	content: $el-var-car;
}
.el-icon-camera:before {
	content: $el-var-camera;
}
.el-icon-calendar-sign:before {
	content: $el-var-calendar-sign;
}
.el-icon-calendar:before {
	content: $el-var-calendar;
}
.el-icon-bullhorn:before {
	content: $el-var-bullhorn;
}
.el-icon-bulb:before {
	content: $el-var-bulb;
}
.el-icon-brush:before {
	content: $el-var-brush;
}
.el-icon-broom:before {
	content: $el-var-broom;
}
.el-icon-briefcase:before {
	content: $el-var-briefcase;
}
.el-icon-braille:before {
	content: $el-var-braille;
}
.el-icon-bookmark-empty:before {
	content: $el-var-bookmark-empty;
}
.el-icon-bookmark:before {
	content: $el-var-bookmark;
}
.el-icon-book:before {
	content: $el-var-book;
}
.el-icon-bold:before {
	content: $el-var-bold;
}
.el-icon-blogger:before {
	content: $el-var-blogger;
}
.el-icon-blind:before {
	content: $el-var-blind;
}
.el-icon-bell:before {
	content: $el-var-bell;
}
.el-icon-behance:before {
	content: $el-var-behance;
}
.el-icon-barcode:before {
	content: $el-var-barcode;
}
.el-icon-ban-circle:before {
	content: $el-var-ban-circle;
}
.el-icon-backward:before {
	content: $el-var-backward;
}
.el-icon-asl:before {
	content: $el-var-asl;
}
.el-icon-arrow-up:before {
	content: $el-var-arrow-up;
}
.el-icon-arrow-right:before {
	content: $el-var-arrow-right;
}
.el-icon-arrow-left:before {
	content: $el-var-arrow-left;
}
.el-icon-arrow-down:before {
	content: $el-var-arrow-down;
}
.el-icon-align-right:before {
	content: $el-var-align-right;
}
.el-icon-align-left:before {
	content: $el-var-align-left;
}
.el-icon-align-justify:before {
	content: $el-var-align-justify;
}
.el-icon-align-center:before {
	content: $el-var-align-center;
}
.el-icon-adult:before {
	content: $el-var-adult;
}
.el-icon-adjust-alt:before {
	content: $el-var-adjust-alt;
}
.el-icon-adjust:before {
	content: $el-var-adjust;
}
.el-icon-address-book-alt:before {
	content: $el-var-address-book-alt;
}
.el-icon-address-book:before {
	content: $el-var-address-book;
}
.el-icon-asterisk:before {
	content: $el-var-asterisk;
}
