$myWebfontPath: '../fonts/';

@font-face {
  font-family: 'FordAntennaExtraLight';
  src: url('#{$myWebfontPath}extra-light/fordantenna-extralight.eot');
  src: url('#{$myWebfontPath}extra-light/fordantenna-extralight.eot') format('embedded-opentype'),
  url('#{$myWebfontPath}extra-light/fordantenna-extralight.woff2') format('woff2'),
  url('#{$myWebfontPath}extra-light/fordantenna-extralight.woff') format('woff'),
  url('#{$myWebfontPath}extra-light/fordantenna-extralight.ttf') format('truetype'),
  url('#{$myWebfontPath}extra-light/fordantenna-extralight.svg#FordAntennaExtraLight') format('svg');
}

body {
  font-family: "FordAntenna-ExtraLight", HelveticaNeue-Light, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "FordAntenna-ExtraLight", HelveticaNeue-Light, sans-serif;
}

p{
  font-family: "FordAntenna-ExtraLight", HelveticaNeue-Light, sans-serif;
}