<ion-view title="RSVP" ng-controller="ContactController">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-white icon pe-7s-menu white"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">

      <div class="container-fluid">
          <div class="padding">

        <!-- =================================================================== -->
        <!-- RSVP FORM ========================================================= -->
        <!-- =================================================================== -->

        <!-- pass in the variable if our form is valid or invalid -->
        <form name="userForm" ng-submit="contact(userForm.$valid)" novalidate>

            <div class="list">

            <!-- choice -->
            <div class="item item-divider">
                Will you be joining us??
            </div>

            <ion-radio
                    ng-value="no"
                    ng-model="user.no">
                no
            </ion-radio>

            <ion-radio
                    ng-value="yes"
                    ng-model="user.yes">
                yes
            </ion-radio>

                <!-- choice -->
                <div class="item item-divider">
                    Name
                </div>

                <!-- NAME -->
                <div class="form-group padding-top item" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <input type="text" name="name" class="form-control" ng-model="user.name" required>
                </div>

            </div>

            <button type="submit" class="button">Submit</button>

        </form>

            </div>
      </div>

    </ion-content>
</ion-view>
