<ion-view title="{{vm.reception.title}}">

    <ion-content class="has-header" scroll overflow-scroll>

        <div class="container-fluid venue">

            <div class="list card col-sm-12 col-md-12 col-lg-12">

                <div class="item item-image">
                    <img class="" src="" ng-src="./img/the-knowle/{{vm.reception.img}}">
                </div>

                <div class="item item-location">
                    <div class="panel panel-success">
                        <div class="panel-heading">{{vm.reception.title}}</div>
                        <div class="item-text-wrap">
                            <ion-item ui-sref="app.venue.reception-map">
                                {{vm.reception.address}}
                            </ion-item>
                            <ion-item ui-sref="app.venue.reception-map">
                                <i class="glyphicon glyphicon-map-marker"></i> Get Directions
                            </ion-item>
                        </div>
                        <div class="panel-heading">Our dinner party starts at 3pm</div>
                    </div>
                </div>

                <div class="item item-body">
                    <p ng-repeat="body in vm.reception.body">{{body}}</p>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>