<ion-view title="{{vm.evening[0]}}" ng-controller="EveningMealController as vm">
    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-lg container">
            <div class="list card col-sm-12 col-md-6 col-lg-3">
                <div class="item item-avatar">
                    <img ng-if="cold.imgSrc" src="" ng-src="./img/evening-buffet/cold/{{cold.imgSrc}}">
                    <h2>{{vm.evening[0].name}}</h2>
                </div>

                <div class="item item-image">
                    <img src="" ng-src="./img/evening-buffet/cold/{{cold.imgSrc}}">
                </div>

                <div class="item item-body">
                    <p>{{vm.evening[0].description}}</p>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
