<ion-view title="Main" ng-controller="MenuController as vm">
    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid">
            <div class="list card col-sm-12 col-md-6 col-lg-6" ng-repeat="main in vm.mains" ng-if="main.included === true">

                <div class="item item-image">
                    <img src="" ng-src="./img/mains/{{main.imgSrc}}">
                    <div class="favourite" ng-click="showPopup()"><span class="button-white glyphicon glyphicon-heart-empty pe-2x"></span></div>
                </div>

                <div class="item click-through">
                    <ion-item class="item-text-wrap" ng-href="#/app/menu/main/{{main.id}}" href="">{{main.name}}
                        <i class="pe pe-7s-angle-right-circle pe-2x pull-right"></i>
                    </ion-item>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
