<ion-view title="Main" ng-controller="MainMealController as vm">
    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-lg container-fluid">
            <div class="list card col-sm-12 col-md-6 col-lg-3">

                <div class="item item-image">
                    <img class="img-responsive" src="" ng-src="./img/mains/{{vm.main[0].imgSrc}}">
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">{{vm.main[0].name}}</div>
                    <div class="panel-body item-text-wrap">
                        <p>{{vm.main[0].description}}</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Ingredients</div>
                    <div class="panel-body item-text-wrap">
                        <p>These will the here....</p>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
