<ion-view title="Overnight" ng-controller="OvernightController as vm">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-white icon pe-7s-menu white"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-striped tabs-color-sage tabs-icon-top">
        <ion-tab title="Hotels" icon="el-icon-home-alt" ui-sref="app.overnight.hotels">
            <ion-nav-view name="tab-hotels" title="Hotels"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Taxis" icon="el-icon-car" ui-sref="app.overnight.taxis">
            <ion-nav-view name="tab-taxis" title="Taxis"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>
